@{
    ViewData["Title"] = "Home Page";
}
<style>
    .wrap {
        width: 605px;
        margin: 100px auto 0;
        text-align: center;
    }

        .wrap h1 {
            font-size: 30px;
            font-weight: 700;
            margin: 0 0 90px;
        }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="wrap">
    @*<h1>祝伟大祖国70岁生日快乐！</h1>
        <h2><p>......！</p></h2>*@

</div>