@{
    ViewData["Title"] = "Home Page";
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}
<style>
    .wrap {
        width: 605px;
        margin: 100px auto 0;
        text-align: center;
    }

        .wrap h1 {
            font-size: 30px;
            font-weight: 700;
            margin: 0 0 90px;
        }
</style>
<div @*class="text-center"*@>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="welcome-page">
        <div class="row page-header">
            <div class="col-sm-10">
                <h1>
                    <img class="icon" src="~/icon.jpg">
                    Welcome to IdentityServer4
                    <small>(version @version)</small>
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <p>
                    IdentityServer publishes a
                    <a href="~/.well-known/openid-configuration" target="_blank">discovery document</a>
                    where you can find metadata and links to all the endpoints, key material, etc.
                </p>
            </div>
            <div class="col-sm-8">
                <p>
                    Click <a href="~/grants">here</a> to manage your stored grants.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <p>
                    Here are links to the
                    <a href="https://github.com/identityserver/IdentityServer4">source code repository</a>,
                    and <a href="https://github.com/IdentityServer/IdentityServer4/tree/master/samples">ready to use samples</a>.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="wrap">
    @*<h1>祝伟大祖国70岁生日快乐！</h1>
        <h2><p>......！</p></h2>*@

</div>