
@{
    ViewData["Title"] = "Index";
}

<h2></h2>
<main class="py-4">
    <spark-register-stripe inline-template>
        <div>
            <div class="spark-screen container">
                <!-- Basic Profile -->
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="card card-default">
                            <div class="card-header">
                                <span v-else>
                                    Register
                                </span>
                            </div>
                            <div class="card-body">
                                <!-- Registration Form -->
                                <form asp-route="/">
                                    <!-- Name -->
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label text-md-right">Name</label>

                                        <div class="col-md-6">
                                            <input type="text" class="form-control" name="UserName">
                                        </div>
                                    </div>

                                    <!-- E-Mail Address -->
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                                        <div class="col-md-6">
                                            <input type="Email" class="form-control" name="Email">

                                        </div>
                                    </div>
                                    <!-- Password -->
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label text-md-right">Password</label>

                                        <div class="col-md-6">
                                            <input type="PassWord" class="form-control" name="PassWord">

                                        </div>
                                    </div>

                                    <!-- Password Confirmation -->
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label text-md-right">Confirm Password</label>

                                        <div class="col-md-6">
                                            <input type="password" class="form-control" name="password_confirmation">
                                        </div>
                                    </div>
                                    <!-- Register Button -->
                                    <div class="form-group row mb-0">
                                        <div class="col-md-6 offset-md-4">
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fa fa-btn fa-check-circle"></i> Register
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </spark-register-stripe>
</main>
